
<div class="UiX Component Login align-middle">
	<div class="form-group Username">
		<label for="Username">Username</label>
		<input type="text" class="form-control Username" id="Username" aria-describedby="Username" placeholder="Enter Username">
	</div>
	<div class="form-group Password">
		<label for="Password">Password</label>
		<div class="input-group">
			<input type="password" class="form-control Password" id="Password" aria-describedby="Password">
			<i class="btn btn-outline-secondary PasswordView material-icons">visibility</i>
		</div>
	</div>
	<div class="form-group PasswordConfirm">
		<label for="PasswordConfirm">Confirm Password</label>
		<div class="input-group">
			<input type="password" class="form-control Password PasswordConfirm" id="PasswordConfirm" aria-describedby="PasswordConfirm">
			<i class="btn btn-outline-secondary PasswordConfirmView material-icons">visibility</i>
		</div>
	</div>
	<button type="submit" class="btn btn-primary Submit">Submit</button>
</div>
